* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --fs-xl: 4rem;
    --fs-800: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;


    --fc-dark: #2D2D2A;
    --fc-light: #FBFEF9;
    --fc-accent: #DB162F;
}

html {
    scroll-behavior: smooth;
    background-color: var(--fc-light);
}
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: min(90%, 1000px);
    margin-inline: auto;
}
.center-text {
    text-align: center;
}
.split {
    display: flex;
    flex-direction: row;
}
.split > * {
    flex-basis: 100%;
}

.split > * + * {
    margin-left: 2em;
}
/*MENU BUTTON*/
.menuBtn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}
.menuBtn_bar {
    width: 25px;
    height: 3px;
    background-color: var(--fc-dark);
    border-radius: 5px;
    position: relative;
    transition: all .5s ease-in-out;
}
.menuBtn_bar::before,
.menuBtn_bar::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: var(--fc-dark);
    border-radius: 5px;
    position: absolute;
    transition: all .5s ease-in-out;
}
.menuBtn_bar::before {
    transform: translateY(-6px);
}
.menuBtn_bar::after {
    transform: translateY(6px);
}

.menuBtn.open .menuBtn_bar {
    transform: translateX(20px);
    background-color: transparent;
}
.menuBtn.open .menuBtn_bar::before {
    transform: rotate(45deg) translate(-15px, 15px);
}
.menuBtn.open .menuBtn_bar::after {
    transform: rotate(-45deg) translate(-15px, -15px);
}
/*MENU BUTTON*/


/*LOGO*/
.logo {
    font-size: var(--fs-800);
    font-family: var(--ff-heading);
    color: var(--fc-light);
    cursor: pointer;
    font-weight: 800;
    padding: 10px;
}
/*LOGO*/


/*NAVIGATION*/
.navigation {
    background-color: var(--fc-dark);
    box-shadow: 0 0px 8px 0 rgba(255, 255, 255, 0.2);
}
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/*MENU*/
.menu {
    position: relative;
    padding: 5px;
}
.menu a{
    z-index: 3;
    font-family: var(--ff-body);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: var(--fc-light);
    padding: 0 20px;
    position: relative;
}
.menu a:hover {
    color: var(--fc-light);
}
.menu .dot {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background: var(--fc-accent);
    opacity: 0;
    transform: translateX(10px);
    transition: all .2s ease-in-out;
}

.menu a:nth-child(1):hover ~ .dot {
    transform: translateX(10px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.menu a:nth-child(2):hover ~ .dot {
    transform: translateX(105px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.menu a:nth-child(3):hover ~ .dot {
    width: 115px;
    transform: translateX(200px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.menu a:nth-child(4):hover ~ .dot {
    width: 90px;
    transform: translateX(340px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

/*MENU*/


/*HOME*/

.home {
    height: 600px;
}
.home h1 {
    font-size: 5rem;
    line-height: 80%;
    color: var(--fc-dark);
}
.home h2 {
    font-size: 1.5rem;
    color: var(--fc-dark);
    opacity: .85;
}
.split-button {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.button {
    padding: 10px 15px;
    border: 2px solid var(--fc-accent);
    background-color: var(--fc-accent);
    border-radius: 5px;
    cursor: pointer;
}

.button span {
    color: var(--fc-light);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
/*HOME*/


/*ABOUT*/

.about {
    height: 300px;
    background-color: var(--fc-dark);
}

/*ABOUT*/

